<div class="col-2">
    <input type="range" data-property="fontSize" min="12" max="200" step="1" value="{{fontSize}}" (input)="fontSizeChanged($event.target ) ">
</div>
<div class="col-2">
    <input type="text" class="font-size" data-property="fontSize" min="12" max="200" step="1" value="{{fontSize}}" (input)="fontSizeChanged($event.target ) ">
</div>

<div class="col-2">
    <input type="range" data-property="lineHeight" min=".6" max="2" step=".001" value="{{lineHeight}}" (input)="lineHeightChanged($event.target ) ">
</div>
<div class="col-2">
    <input type="text" data-property="lineHeight" min=".6" max="2" step=".001" value="{{lineHeight}}" (input)="lineHeightChanged($event.target ) ">
</div>

<div class="col-2">
    <input type="range" data-property="letterSpacing" min="-.05" max=".05" step=".001" value="{{letterSpacing}}" (input)="letterSpacingChanged($event.target ) ">
</div>
<div class="col-2">
    <input type="text" data-property="letterSpacing" min="-.05" max=".05" step=".001" value="{{letterSpacing}}" (input)="letterSpacingChanged($event.target ) ">
</div>


<div class="specimen__text col" style="
font-family: {{fontFamily}};
font-size: {{fontSize}}px;
line-height: {{lineHeight}};
letter-spacing: {{letterSpacing}}em;
">
    {{ sampleText}}
</div>